
.App {
  text-align: center;
  font-family: sans-serif;
}

.Controls div, .Scoreboard p {
  margin-bottom: 0.5rem;
}

.Controls label {
  margin-right: 0.5rem;
}

.Controls button {
  margin: 0.2rem;
}

.Visualization {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #ccc;
}